
/* Estilos base (Mobile-First) */

.hidden {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: auto;
    overflow: auto;
}

.container-padre {
    width: 100%;
    height: 100%;
}

.container-header {
    background-image: url(./assets/white-paper-texture_1194-2301.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    height: auto;
}

.container-header img {
    width: 5em;
    height: 5em;
    margin-right: 0.9em;
}
.house{
    font-size: 2.5rem;
    margin-right: 2rem;
}


.container-header input {
    font-size: 1rem;
    padding: 0.5em;
    margin-right: 0.8em;
}

.btnAdd, .btnFind {
    font-size: 1rem;
    padding: 0.5em;
    border-radius: 10%;
    background-color: rgb(43, 148, 233);
    margin: 0.5em 0;
}
.lupa {
    font-size: 1.1rem !important;
}

.container-btn-input {
    display: flex;
    flex-direction: column;
}

.container-title {
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
    margin: 0;
    background-color: rgb(217, 217, 217);
}
.container-title h1{
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./assets/white-paper-texture_1194-2301.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
}
.bg-colors-container{
    display: flex;
    margin-top: 1em;
    gap: 2em;
}
.btn-bg-red{
    background-color: red;
    border: 0.2em solid black;
    border-radius: 50%;
    padding: 2rem;
}
.btn-bg-yellow{
    background-color: yellow;
    border: 0.2em solid black;
    border-radius: 50%;
    padding: 2rem;
}
.btn-bg-green{
    background-color: green;
    border: 0.2em solid black;
    border-radius: 50%;
    padding: 2rem;
}
.btn-bg-cyan{
    background-color: aqua;
    border: 0.2em solid black;
    border-radius: 50%;
    padding: 2rem;
}

.post-list{
    width: 100vw;
    height: 100%;
    margin-top: 0.5em;
    font-size: 2rem;
    background-color: rgb(217, 217, 217);
}
.post-list ul{
    width: 90%;
}
.btnDel {
    float: inline-end;
    border-radius: 15px;
    height: 30px;
    width: 30px;
    background-position: center;
    background-image: url(./assets/icons8-basura-50.png);
    background-size:contain;
    background-repeat: no-repeat;
}

/* Media Queries para pantallas más grandes */
@media (min-width: 320px) {
    .container-header {
        padding: 1rem;
        height: 2rem;
    }

    .container-header img {
        width: 3rem;
        height: 3rem;
        margin-right: 0.2em;
    }
    .house{
        font-size: 2rem;
        margin-right: 1rem;
    }

    .container-header input {
        font-size: 0.5em;
        padding: 0.5em;
    }

    .container-btn-input {
        display: flex;
    }
    .btnAdd, .btnFind{
        font-size: 0.5em;
        padding: 0.5em;
    }
    .lupa{
        font-size: 1em !important;
    }

    .bg-colors-container{
        display: flex;
        margin-top: 1em;
        gap: 2em;
    }
    .btn-bg-red{
        background-color: red;
        border: 0.2em solid black;
        border-radius: 50%;
        padding: 1.2rem;
    }
    .btn-bg-yellow{
        background-color: yellow;
        border: 0.2em solid black;
        border-radius: 50%;
        padding: 1.2rem;
    }
    .btn-bg-green{
        background-color: green;
        border: 0.2em solid black;
        border-radius: 50%;
        padding: 1.2rem;
    }
    .btn-bg-cyan{
        background-color: aqua;
        border: 0.2em solid black;
        border-radius: 50%;
        padding: 1.2rem;
    }
    .post-list{
        width: 100vw;
        height: 100vh;
        margin-top: 0.5em;
        font-size: 1.2rem;
        background-color: rgb(217, 217, 217);
    }
    .post-list ul{
        width: 90%;
    }
    .btnDel {
        margin-right: 1rem;
        float: inline-end;
        border-radius: 50%;
        height: 1rem;
        width: 1rem;
        background-position: center;
        background-image: url(./assets/icons8-basura-50.png);
        background-size:contain;
        background-repeat: no-repeat;
    }
}
@media (min-width: 550px) {
    .container-header {
        padding: 1rem;
        height: 4rem;
    }

    .container-header img {
        width: 5rem;
        height: 5rem;
        margin-right: 0.8em;
    }
    .house{
        font-size: 3rem;
        margin-right: 1.5rem;
    }

    .container-header input {
        font-size: 1em;
        padding: 0.2em;
    }

    .container-btn-input {
        display: flex;
    }
    .btnAdd, .btnFind{
        font-size: 1em;
        padding: 0.2em;
    }
    .lupa{
        font-size: 1em !important;
    }

    .container-title {
        text-align: center;
        padding: 1.2rem;
        font-size: 1.9rem;
        margin: 0;
        background-color: rgb(217, 217, 217);
    }
    .container-title h1{
        margin: 0;
    }

    .bg-colors-container{
        display: flex;
        margin-top: 1em;
        gap: 2em;
    }
    .btn-bg-red{
        background-color: red;
        border: 0.3em solid #000;
        border-radius: 50%;
        padding: 1.8rem;
    }
    .btn-bg-yellow{
        background-color: yellow;
        border: 0.3em solid #000;
        border-radius: 50%;
        padding: 1.8rem;
    }
    .btn-bg-green{
        background-color: green;
        border: 0.3em solid #000;
        border-radius: 50%;
        padding: 1.8rem;
    }
    .btn-bg-cyan{
        background-color: aqua;
        border: 0.3em solid #000;
        border-radius: 50%;
        padding: 1.8rem;
    }
    .post-list{
        width: 27rem;
        height: 100vh;
        margin-top: 0.5em;
        font-size: 1.6rem;
        background-color: rgb(217, 217, 217);
        border-radius: 0.3em;
        box-shadow: 0 10px 20px rgba(0,0,0,1);
    }
    .post-list ul{
        width: 90%;
    }
    .btnDel {
        margin-right: 1rem;
        float: inline-end;
        border-radius: 50%;
        height: 1.6rem;
        width: 1.6rem;
        background-position: center;
        background-image: url(./assets/icons8-basura-50.png);
        background-size:contain;
        background-repeat: no-repeat;
    }
}

@media (min-width: 1024px) {
    body{
        overflow: auto;

    }
    .container {
        height: 100vh
    };
    .container-header {
        padding: 1rem;
        height: 6rem;
        width: 100%;
    }

    .container-header img {
        width: 7rem;
        height: 7rem;
        margin-right: 4rem;
    }
    .house{
        font-size: 4rem;
        margin-right: 3rem;
    }

    .container-btn-input {
        display: flex;
        flex-direction: row !important;
        width: 100%;
    }
    .container-add{
        width: fit-content;
        margin-right: 2rem;
    }
    .conatiner-find{
        width: fit-content;
    }
    .container-header input {
        font-size: 1.3em;
        padding: 0.2em;
    }
    .btnAdd, .btnFind{
        font-size: 1.3em;
        padding: 0.2em;
    }
    .lupa{
        font-size: 1em !important;
    }

    .container-title {
        text-align: center;
        padding: 1.2rem;
        font-size: 3rem;
        margin: 0;
        background-color: rgb(217, 217, 217);
    }
    .container-title h1{
        margin: 0;
    }

    .bg-colors-container{
        display: flex;
        margin-top: 1em;
        gap: 2em;
    }
    .btn-bg-red{
        background-color: red;
        border: 0.3em solid #000;
        border-radius: 50%;
        padding: 1.8rem;
    }
    .btn-bg-yellow{
        background-color: yellow;
        border: 0.3em solid #000;
        border-radius: 50%;
        padding: 1.8rem;
    }
    .btn-bg-green{
        background-color: green;
        border: 0.3em solid #000;
        border-radius: 50%;
        padding: 1.8rem;
    }
    .btn-bg-cyan{
        background-color: aqua;
        border: 0.3em solid #000;
        border-radius: 50%;
        padding: 1.8rem;
    }
    .post-list{
        width: 50rem;
        height: 20rem;
        margin-top: 0.5em;
        font-size: 1.6rem;
        background-color: rgb(217, 217, 217);
        border-radius: 0.3em;
        box-shadow: 0 10px 20px rgba(0,0,0,1);
    }
    .post-list ul{
        width: 90%;
    }
    .btnDel {
        margin-right: 1rem;
        float: inline-end;
        border-radius: 50%;
        height: 1.6rem;
        width: 1.6rem;
        background-position: center;
        background-image: url(./assets/icons8-basura-50.png);
        background-size:contain;
        background-repeat: no-repeat;
    }
}